<?xml version='1.0' encoding='utf-8'?>
<widget id="io.visicol.app" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Visicoil New</name>
    <description>
        A sample Apache Cordova application that responds to the deviceready event.
    </description>
    <author email="dev@cordova.apache.org" href="http://cordova.io">
        Apache Cordova Team
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
        
        <config-file parent="/manifest" target="AndroidManifest.xml" xmlns:android="http://schemas.android.com/apk/res/android">
            <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
        </config-file>
    </platform>
    <platform name="ios">
       <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <plugin name="cordova-plugin-whitelist" spec="1" />
    
    <engine name="android" spec="^7.0.0" />

	<preference name="EnableViewportScale" value="true"/>
	<preference name="MediaPlaybackAllowsAirPlay" value="false"/>
	<preference name="MediaPlaybackRequiresUserAction" value="false"/>
	<preference name="AllowInlineMediaPlayback" value="true"/>
	<preference name="TopActivityIndicator" value="white"/>
	
	<preference name="AutoHideSplashScreen" value="true" />
	<preference name="ShowSplashScreenSpinner" value="true"/>
	<preference name="splashscreen" value="splash" />
    <preference name="splashScreenDelay" value="3000" />
	<allow-navigation href="*youtube*" />
	<allow-navigation href="*ytimg*" />
	<allow-navigation href="*youtube-nocookie*" />
	<allow-navigation href="https://*youtube.com/*"/>
	
	 
</widget>
